<div class="navbar">
  <a href="home">Seja bem vindo {{ nomeUsuario }}</a>
  <a  href="/" class="right">Sair</a>
</div>

<!-- Conteúdo da Página -->
<div style="padding: 20px;">
   
  <div class="form-container-inline">

  <form ng-submit="salvarUsuario()" class="form-inline">
    <div class="form-inline-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" ng-model="nome" required>
    </div>
    <div class="form-inline-group">
      <label for="login">Login:</label>
      <input type="text" id="login" name="login" ng-model="login" required>
    </div>
    <div class="form-inline-group">
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" ng-model="senha" required>
    </div> 
    <div class="form-inline-group">
      <button type="submit" class="form-inline-group">Salvar</button> 
    </div>
    <div class="form-inline-group">
      <div class="messagem-inline"  ng-style="{'color': messagemCor}" ng-if="messagem">{{ messagem }}</div>
    </div>
   
  </form>
  
</div>
<div ng-if="colaboradorList.length > 0"></div>
<ol class="list-group"  style="list-style: none;">
  <li class="list-group-item" ng-repeat="colaborador in colaboradorList">
    <table width="100%" cellspacing="0">
      <tbody>
        <tr >
          <td width="50%"><span class="invisivel">
            {{ colaborador.hierarquia}}</span>
            {{colaborador.nome }}</td>
          <td  width="25%" align="center">
            <b   ng-style="{'color': 'gray'}">{{ colaborador.score }}%</b></td>
          <td width="25%" align="center" >
            <b  ng-style="{'color': colaborador.cor}">{{ colaborador.complexidade }}</b>
          </td>
        </tr>
      </tbody>
  </table></li> 
</ol>
</div>
</div>
