<div style="align-items: center">
  <div class="login-container">
    <form ng-submit="submit()">
      <img src="assets/img/netdeal.png" width="300" />
      <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" id="login" ng-model="login" required />
      </div>
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" ng-model="senha" required />
      </div>
      <div class="form-group">
        <button type="submit">Login</button>
      </div>
    </form>
    <div class="error-message" ng-if="errorMessage">{{ errorMessage }}</div>
  </div>
</div>
